@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background-color: #fff;
}

@keyframes modal-slide-down {
  from {
    opacity: 0;
    transform: translate3d(0, -50px, 0) scale(0.95);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0) scale(1);
  }
}

.animate-modal-slide-down {
  animation: modal-slide-down 0.3s cubic-bezier(0.16, 1, 0.3, 1) forwards;
}
